<h3>Greeting <%= @admin.user_name%></h3>
<p>new post request has been sent</p>
<p><%=@request.id%></p><br>
<p><%= Post.find_by(id:@request.post_id).text%></p>
<br>
<p>Thanks & Regards</p>
<p>Proof Reading Team</p>