<div class="container">
	<h3>Welcome to Proof Reading Website</h3>
	<div>
		We are here to <ins><mark>proof read your text from simple to professional by our proof readers</mark></ins>
	</div>
	<%= link_to "New Post",post_new_path,class: "btn btn-lg btn-success"%>
</div>
