<h1>Greetings <%= Admin.find(@payment.admin_id).user_name %></h1>
<p>You proofreading has been accepted by user and admin credited amount to your wallet</p>
<br>
<p>Thanks & Regards</p>
<p>Proof Reading Team</p>