<div class="container-fluid">
<div class="container" >
	<div class="row-auto">
		<div class="col-md-6 mx-auto mb-5">

		<%= form_with(model: @post, url: post_create_path(@post), method: "post", remote: true) do |f| %>
			<h3>Enter a text </h3>
			<div id="word-count-container">
			<%= f.text_area :text ,class: "form-control", :id => "no-of-words", :keydown=>"updatecount()"%>
			<%= f.hidden_field :per_word_amount,:id=>"word_amount"%>
			</div>
			<h4>number of words:<p id="word-count"></p></h4>
			<h4>Amount:<p id="result"></p></h4>
			<%= f.submit "Post" ,class: "btn btn-primary btn-lg"%>
		<% end %>
		</div>
	</div>
</div>
</div> 



<script type="text/javascript">
	
 $(document).keydown(function() {
     var wordCount = $("#no-of-words").val().split(' ').length;    
     $("#word-count").html(wordCount);

      $.ajax({    
        type: "GET",
        url: "total_amount",
        dataType: "json",
        data: { "per_word_amount": $("#word_amount").val(),
        "words": $("#no-of-words").val().split(' ').length
         },
        success: function(response){ 
			var obj = JSON.parse(response);
         $("#result").html(obj)     
        }

    });
});

</script>