<table class="table">
  <thead>
    <tr>
      <th scope="col">post id</th>
      <th scope="col">admin id</th>
      <th scope="col">words</th>
    </tr>
  </thead>
  <tbody>
  	<%@posts.all.each do |post|%>
    <%if !Payment.where("admin_id=? AND post_id=?",Request.find_by(post_id:post.id).accepted_admin,post.id).present?%>
    <tr>
      <td><%= post.id%></td>
      <td><%= Request.find_by(post_id:post.id).accepted_admin%></td>
      <td><%= post.words%></td>
      <td><%=link_to "pay",admin_payment_path(:id=>post.id),method: :post%></td>
    </tr>
    <%end%>
    <%end%>
  </tbody>
</table>