<div class="container" >
	<div class="row-auto">
		<div class="col-md-6 mx-auto mb-5">

		<%= form_with(model: post, url: posts_create_path(post), method: "post") do |f| %>
			<h3>Enter a text </h3>
			<div id="word-count-container">
			<%= f.text_area :text ,class: "form-control", :id => "no-of-words", :onkeydown=>"updatecount()"%>
			</div>
			<h4>number of words:<p id="word-count"></p></h4>
			<h4>Amount:<p id="word-amount"></p></h4>
			<%= f.submit "Post" ,class: "btn btn-primary btn-lg"%>
		<% end %>
		</div>
	</div>
</div>