<div class="container-fluid">
<div class="container" >
	<div class="row-auto">
		<div class="col-md-6 mx-auto mb-5">

		<%= form_with(model: @post, url: posts_create_path(@post), method: "post", remote: true) do |f| %>
			<h3>Enter a text </h3>
			<div id="word-count-container">
			<%= f.text_area :text ,class: "form-control", :id => "no-of-words", :keyup=>"updatecount()"%>
			</div>
			<div class="col-md-6">
				<h4>number of words:<span id="word-count"></span></h4>
			</div>
			<div class="col-md-2">
				<h4>Amount(₹):<span id="result"></span></h4>
			</div>
			<div class="col-md-8">
				<%= f.submit "Submit" ,class: "btn btn-primary btn-lg"%>
			</div>
		<% end %>
		</div>
	</div>
</div>
</div> 



<script type="text/javascript">
	
 $(document).keyup(function() {
	 var wordCount = $("#no-of-words").val().trim().split(/\s+/).length;
	 $("#word-count").html(wordCount);

	  $.ajax({    
		type: "GET",
		url: "total_amount",
		dataType: "json",
		data: { 
		"words": wordCount
		 },
		success: function(response){ 
			var obj = JSON.stringify(response);
		 $("#result").html(obj)     
		}

	});
});

</script>